html,body{
    margin: 0px;
    padding: 0px;
}

body,html{
    background-color: rgb(196, 195, 252);
    /* margin 0px  */
}

#logo-wrapper{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin: 0px 0px 20px 20px;
    /* align-items: flex-start; */
}
#logo-text{ 
    border-bottom: 14px solid #8c5d37;
    align-self: flex-end;
    font-size: 50px;
    font-family: 'Shadows Into Light';
    font-weight: 900;
    position: relative;
    text-shadow: 0 0 10px gold;
    padding: 0px;
    text-align: center;
}

#logo-image-1{
    height: 120px;
}

#logo-image-2{
    height: 120px;
    transform: rotate3d(0, 1, 0, 180deg);
}

@media (max-width: 700px){
    #logo-text{
        font-size: 9vw;
        border-bottom: 2.3vw solid #8c5d37;
        line-height: 9vw;
    }
    #logo-image-2, #logo-image-1{
        height: 20vw;
        align-self: flex-end;
    }
}

span {
    white-space: nowrap;
}

.book-card{
     background-color: rgb(2, 0, 57);
     min-width:200px;
     min-height: 150px;
     /* border-radius: 15px; */
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     color:white;
     box-shadow: 2px 2px 5px black, -2px -2px 5px black;
     /* align-content: center; */
     flex:1;
     margin: 5px;
     /* max-width: 400px; */
}

.book-card:hover{
    /* background-color: rgb(3, 0, 81); */
    transition: 0.05s ease-in-out;
    transform: scale(1.05);
}

#books{
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-auto-columns: 1fr;
    width: 80%;
    padding: 30px;
    /* flex-wrap: wrap; */
    background-color: white;
    /* justify-items: left; */
}

#book-area-wrapper{
    /* width: 90%; */
    display:flex;
    justify-content: center;    
}

.book-title{
    margin: 10px 20px 0px 20px;
    max-width: 80%;
    overflow-wrap: break-word;
    font-size: 22px;
    margin-right: 0px;
}
.book-author{
    margin: 0px 20px 50px 20px;
}
.book-pages{
    margin: 0px 20px;

    font-size: 15px;
}
.book-read{
    margin: 0px 20px;
    font-size: 15px;
    margin-bottom: 10px;
}

#add-book-button{
    background-color: rgb(165, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-book-icon{
    line-height: 70px;
    font-size: 120px;
}

h2{
    background-color: white;
    /* margin-bottom: 0px; */
    width: 80%;
    padding: 10px 30px 0px 30px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Shadows Into Light';
    font-size: 40px;
}

#night-mode-button{
    position: fixed;
    top: 5px;
    left: 5px;
    height: 50px;
    width: 50px;
    border:none;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
    z-index: 4;
    background-color: rgb(0, 0, 0);
}

#night-mode-button:hover{
    box-shadow: 0px 0px 3px 5px white;
}

.night-mode #night-mode-button{
    background-color: rgb(255, 255, 255);
}

#night-mode-icon{
    filter: invert();
    height: inherit;
}
.night-mode #night-mode-icon
{
color: white;
}

.night-mode #add-book-text,.night-mode #add-book-icon
{
color: white;
}

.night-mode body, html.night-mode{
    background-color: black;
    color:white;
}

.night-mode h2, .night-mode #books{
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
}

.night-mode .book-card{
    color: black;
    background-color: blanchedalmond;
}

.delete-button{
    float: bottom-right;
    width: 15px;
    height: 15px;
    /* position: relative; */
    color: rgb(165, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

.title-delete-wrapper{
    display: flex;
    justify-content: space-between;
}

.delete-button:hover{
    transform: scale(1.1);
}

.delete-button img{
    width: 15px;
    height: 15px;
}

body.blur-background div, body.blur-background h2{
    filter: blur(2px);
}

section#add-book-form-area{
    display: none;
    position: fixed;
    justify-content: center;
    bottom:0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(49, 49, 49, 0.183);
    z-index: 10;
}

#add-book-form{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    background-color: rgb(165, 0, 0);
    width: 30%;
    padding: 20px 0px;
    border-radius: 10px;
}


@media (max-width: 1200px){
    #add-book-form{
        width: 50%;
    }
}


@media (max-width: 600px){
    #add-book-form{
        width: 80%;
    }
}

#add-book-form h3{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    font-family: 'Shadows Into Light';
    margin: 0px 10px;
}

#add-book-form label{
    color:white;
    font-size: 20px;
    font-family: 'Shadows Into Light';
    font-weight: 500;
    margin: 0px 10px 0px 30px;
    padding: 0px;

}

#add-book-form input[type='text']{
    background-color: #C76161;
    color: white;
    padding: 10px 5px;
    font-size: 16px;
    margin: 5px 25px;
    border-radius: 4px;
    border: none;
    border: 2px solid #C76161;
}

#add-book-form input[type='checkbox']{
    display: inline;
    background-color: rgba(255, 255, 255, 0.381);
    color: rgb(255, 0, 0);
    height: 20px;
    width: 20px;
}

#add-book-form input:focus{
    border: 2px solid white;
    outline: none;
}

#read-input-label{
    display: inline;
    margin-right: 0px;
}

.form-button{
    background-color: rgb(3, 0, 81);
    color: white;
    padding: 10px 5px;
    font-size: 16px;
    margin: 5px 25px;
    border-radius: 4px;
    border: none;
}

.form-button#confirm-add-button{
    background-color: rgb(3, 0, 81);
}

.form-button#cancel-add-button{
    background-color: rgb(93, 0, 0);
}

.form-button:hover{
    filter: brightness(1.5);    
}
.book-card-hidden{
    background-color: transparent;
    box-shadow: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(93, 0, 0);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(93, 0, 0);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switch{
    position: relative;
    top: 4px;
    margin-right: 15px;
  }

  .book-read{
      margin-right: 5px;
  }

.switch-area{
    display:flex;
    justify-content: space-between;
}

.night-mode .book-card-hidden{
    background-color: transparent;
    box-shadow: none;
}